/.idea/

#------------------------
#  Main ignored items
#------------------------

#/../wp-config.php
/wp-config.php
.maintenance
versionpress.maintenance
/.htaccess
/web.config

/wp-content/*
!/wp-content/db.php
!/wp-content/index.php
!/wp-content/plugins/
/wp-content/plugins/versionpress/
!/wp-content/mu-plugins/
!/wp-content/themes/
!/wp-content/languages/
!/wp-content/uploads/
!/wp-content/vpdb/


#------------------------
#  Log files
#------------------------

*.log
error_log
access_log


#------------------------
#  OS Files
#------------------------

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
#--------------------my gitignors
/darkRed
/wp-mail.php
/wp-trackback.php
/license.txt
/wp-cron.php
/wp-login.php
/index.php
/wp-links-opml.php
/wp-activate.php
/wp-config-sample.php
/wp-settings.php
/wp-signup.php
/.gitattributes
/readme.html
/wp-load.php
/wp-config.common.php
/wp-blog-header.php
/wp-comments-post.php
/xmlrpc.php
/wp-admin/
/wp-includes/
/data_bases/
/.gitattributes/